@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    font-family: Nunito, sans-serif;
  }
  h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif !important;
  }

}

@layer components{
  .mark{
    @apply border border-red-700;
  }

  /* .slick-::before{
    @apply text-black;
  } */

  .active-nav-link{
    @apply text-primary !important;
  }

  .active-side-menu-link{
    @apply text-primary bg-primary/5 !important;
  }

}

.slick-slider .slick-arrow::before{
  color: black;
}


html,
body {
  padding: 0;
  margin: 0;
 

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wave{

  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}


